.footer{
	position: fixed;
	bottom: 0;
	
	display: flex;
	justify-content: flex-end;
	background: rgb(184, 180, 184);
	color: rgb(27, 26, 27);
	
}

.footer > span{
	font-size: 1rem;
	font-weight: 300;
}